################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileSysteemSolution/FileSystem.Database/obj/Debug
/FileSysteemSolution/FileSystem.Database/bin/Debug
